.footer_container{
    background-color: rgb(237, 149, 91);
}
.footer_content_left{
    /* border: 2px solid black; */
    float: left;
}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
}
/* footer left side */
.footer_content_left_heading{
    font-size: 100;
}
.footer_logo{
    padding: 10px;
    width: 120px;
    height: 80px;
    cursor: pointer;
    margin-bottom: 5px;
}
.footer_content_left_subheading-office-heading,.footer_content_left_subheading-address-heading{
    padding: 10px;
    font-size: 20px;
}
.footer_content_left_subheading-address-content, .footer_content_left_subheading-office-content{
    padding: 5px;
    font-size: 10px;
}
/* footer middle part */
.footer_content_middle>h3{
    font-size: 1.5rem;
    font-weight: 200;
    padding: 40px;

}
.socials{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.socialconnect{
    width: 28px !important;
    height: 28px !important;

}
/* footer right side */
h2{
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
    margin-left: 100px;
}
.input , .textarea{
    display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  rgb(235, 235, 235);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.993);
	border: none;
	resize: none;
    font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #000000;

	width: 400px;
	padding: 18px;
}
.input{
    height: 55px;
	margin-bottom: 15px;
}
.textarea{
    height: 100px;
	margin-bottom: 20px;
}
.submit{
    border-radius: 3px;
	background-color:  #fdfdfd;
	color: #080808;
	border: 0;
	padding: 15px 50px;
	font-weight: normal;
	float: right;
    margin-bottom: 20px;
}